/**************** MISC ****************/

.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.t180{
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition:    all ease-in-out 180ms;
    -o-transition:      all ease-in-out 180ms;
    -ms-transition:     all ease-in-out 180ms;
    transition:         all ease-in-out 180ms;
}

.upper{ text-transform: uppercase; }

.dspiblock{ display: inline-block; }
.dspblock{  display: block; }
.dsptable{  display: table !important; height: 100% !important; }
.dsptcell{  display: table-cell !important; float: none !important; vertical-align: middle !important; }

/**************** MISC ****************/

/*************** FLOAT ***************/
.left{ float: left !important; }
.right{float: right !important;}
.none{ float: none !important; }

/************* TEXT ALIGN *************/
.text-left{   text-align: left;   }
.text-right{  text-align: right;  }
.text-center{ text-align: center; }
.text-justify{text-align: justify;}
/************* TEXT ALIGN *************/

/************** MARGINS **************/
.mtop0 {  margin-top: 0px;  }
.mtop10{  margin-top: 10px; }
.mtop20{  margin-top: 20px; }
.mtop30{  margin-top: 30px; }
.mtop40{  margin-top: 40px; }
.mtop50{  margin-top: 50px; }
.mtop60{  margin-top: 60px; }
.mtop70{  margin-top: 70px; }
.mtop80{  margin-top: 80px; }
.mtop90{  margin-top: 90px; }
.mtop100{ margin-top: 100px;}

.mbot0 {  margin-bottom: 0px;  }
.mbot10{  margin-bottom: 10px; }
.mbot20{  margin-bottom: 20px; }
.mbot30{  margin-bottom: 30px; }
.mbot40{  margin-bottom: 40px; }
.mbot50{  margin-bottom: 50px; }
.mbot60{  margin-bottom: 60px; }
.mbot70{  margin-bottom: 70px; }
.mbot80{  margin-bottom: 80px; }
.mbot90{  margin-bottom: 90px; }
.mbot100{ margin-bottom: 100px;}

.mleft0 {  margin-left: 0px;  }
.mleft10{  margin-left: 10px; }
.mleft20{  margin-left: 20px; }
.mleft30{  margin-left: 30px; }
.mleft40{  margin-left: 40px; }
.mleft50{  margin-left: 50px; }
.mleft60{  margin-left: 60px; }
.mleft70{  margin-left: 70px; }
.mleft80{  margin-left: 80px; }
.mleft90{  margin-left: 90px; }
.mleft100{ margin-left: 100px;}

.mright0 {  margin-right: 0px;  }
.mright10{  margin-right: 10px; }
.mright20{  margin-right: 20px; }
.mright30{  margin-right: 30px; }
.mright40{  margin-right: 40px; }
.mright50{  margin-right: 50px; }
.mright60{  margin-right: 60px; }
.mright70{  margin-right: 70px; }
.mright80{  margin-right: 80px; }
.mright90{  margin-right: 90px; }
.mright100{ margin-right: 100px;}
/************** MARGINS **************/

/************* PADDINGS *************/
.pdtop0 {  padding-top: 0px;  }
.pdtop10{  padding-top: 10px; }
.pdtop20{  padding-top: 20px; }
.pdtop30{  padding-top: 30px; }
.pdtop40{  padding-top: 40px; }
.pdtop50{  padding-top: 50px; }
.pdtop60{  padding-top: 60px; }
.pdtop70{  padding-top: 70px; }
.pdtop80{  padding-top: 80px; }
.pdtop90{  padding-top: 90px; }
.pdtop100{ padding-top: 100px;}

.pdbot0 {  padding-bottom: 0px;  }
.pdbot10{  padding-bottom: 10px; }
.pdbot20{  padding-bottom: 20px; }
.pdbot30{  padding-bottom: 30px; }
.pdbot40{  padding-bottom: 40px; }
.pdbot50{  padding-bottom: 50px; }
.pdbot60{  padding-bottom: 60px; }
.pdbot70{  padding-bottom: 70px; }
.pdbot80{  padding-bottom: 80px; }
.pdbot90{  padding-bottom: 90px; }
.pdbot100{ padding-bottom: 100px;}

.pdleft0 {  padding-left: 0px;  }
.pdleft10{  padding-left: 10px; }
.pdleft20{  padding-left: 20px; }
.pdleft30{  padding-left: 30px; }
.pdleft40{  padding-left: 40px; }
.pdleft50{  padding-left: 50px; }
.pdleft60{  padding-left: 60px; }
.pdleft70{  padding-left: 70px; }
.pdleft80{  padding-left: 80px; }
.pdleft90{  padding-left: 90px; }
.pdleft100{ padding-left: 100px;}

.pdright0 {  padding-right: 0px;  }
.pdright10{  padding-right: 10px; }
.pdright20{  padding-right: 20px; }
.pdright30{  padding-right: 30px; }
.pdright40{  padding-right: 40px; }
.pdright50{  padding-right: 50px; }
.pdright60{  padding-right: 60px; }
.pdright70{  padding-right: 70px; }
.pdright80{  padding-right: 80px; }
.pdright90{  padding-right: 90px; }
.pdright100{ padding-right: 100px;}
/************* PADDINGS *************/